
#Ignore all CSV files
*.csv

#Ignore all JSON files
*.json
#Ignore SQLite database files
*.db

roofline_results/*
run_all_results*/
#Ignore build artifacts
build*/

.cache*/

**/__pycache__/
/__pycache__
*.pyc

**/.venv/
.venv/
.devops/
.gemini/

models/*
!models/README.md
!models/download_model.py
!models/.gitignore


